html,
body {
  padding: 10px;
  height: 80%;
  background-color: #fff;
  color: #111;
  font-family: ubuntu;
}

table {
  width: 100%;
  text-align: left;
  border: 1px solid #cdcdcd;
  border-collapse: collapse;
}

td {
  border: 1px solid #cdcdcd;
  border-collapse: collapse;
}

th {
  background-color: #cdcdcd;
}

#app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
}

#expense-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.btn {
  background: none;
  border: solid 1px #cdcdcd;
  border-radius: 2px;
  outline: none;
}

.date {
  min-width: 135px;
}

.description {
  width: 100%;
}

.location {
  min-width: 150px;
}

.amount {
  min-width: 60px;
}

.money {
  color: red;
}
